/*
  CUSTOM RESETS
-----------------------------*/
* {
  list-style-type: none;
  text-decoration: none;
  color: #FFF;
}
body {
  margin: 0;
  padding: 0;
  font-family: 'Varela Round', sans-serif;
}
header nav ul .fa {
  position: absolute;
  left: -54px;
  top: -16px;
}
.clearPrefix::after {
  content: "";
  display: table;
  clear: both;
}
/*
  HEADER
--------------------------*/
header ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #3A364C;
  padding: 3em 4em;
  margin-top: -16px;
}
header ul li:first-child {
  margin-right: auto;
}
header ul li {
  display: inline-block;
  margin: 0 2.7em;
  position: relative;
}
header ul li a,
header ul li a span {
  color: #AFAFAF;
}
header ul li a:hover,
header ul li a span:hover {
  color: #FFF;
}
/*
  FOOTER
--------------------------*/
footer {
  background-color: #3A364C;
  padding: 1.6em;
  text-align: center;
}
footer .copyright {
  margin: .9em 0;
}
footer .social-icons a,
footer .links a {
  margin: 4px;
}
footer a,
footer .social-icons a span {
  color: #AFAFAF;
}
footer a:hover,
footer .social-icons a span:hover {
  color: #FFF;
}
/*
  SUGGEST :FORM
--------------------------*/
.form {
  border: 2px solid #d4d9dd;
  margin: 2em 20em;
}
.wrapper {
    padding: 2em 4em;
}
.form .caption {
  margin: 0;
  font-size: 1.2em;
  color: #fff;
  background-color: tomato;
  padding: 1.5em 10em 1.5em 3.46em;
}
.form form label {
  color: rgba(0,0,0,0.7);
  font-size: 1.2em;
  font-weight: bold;
  border-radius: 4px;
}
.form form .input-text,
.form form .input-button {
  background-color: #f9fafa;
  border-color: #d4d9dd;
  font-size: 1rem;
  padding: .35rem 1rem;
  outline: none;
  border: 2px solid #d4d9dd;
  box-sizing: border-box;
  border-radius: 4px;
  color: #40484a;
  font-weight: bold;
}
.form form .input-button {
  color: #fff;
  background: tomato;
  font-weight: bold;
  padding: .5em 1em;
  opacity: 0.8;
}
.form form .input-button:hover {
  opacity: 1;
  cursor: pointer;
}
.form form .input-text:focus {
  background-color: #fff;
}
