/*
  CUSTOM RESETS
-----------------------------*/
* {
  list-style-type: none;
  text-decoration: none;
  color: #FFF;
}
body {
  margin: 0;
  padding: 0;
  font-family: 'Varela Round', sans-serif;
}
header nav ul .fa {
  position: absolute;
  left: -54px;
  top: -16px;
}
.clearPrefix::after {
  content: "";
  display: table;
  clear: both;
}
/*
  HEADER
--------------------------*/
header ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #3A364C;
  padding: 3em 4em;
  margin-top: -16px;
}
header ul li:first-child {
  margin-right: auto;
}
header ul li {
  display: inline-block;
  margin: 0 2.7em;
  position: relative;
}
header ul li a,
header ul li a span {
  color: #AFAFAF;
}
header ul li a:hover,
header ul li a span:hover {
  color: #FFF;
}
/*
  FOOTER
--------------------------*/
footer {
  background-color: #3A364C;
  padding: 1.6em;
  text-align: center;
}
footer .copyright {
  margin: .9em 0;
}
footer .social-icons a,
footer .links a {
  margin: 4px;
}
footer a,
footer .social-icons a span {
  color: #AFAFAF;
}
footer a:hover,
footer .social-icons a span:hover {
  color: #FFF;
}
